*{
    color: rgb(233, 233, 244);
    
   
}
body{
    margin: 0;
    background-image: url(https://www.tata.com/content/dam/tata/images/newsroom/careers/desktop/careers_coding_banner_desktop_1920x1080.jpg);
    backdrop-filter: blur(9px);
    background-repeat:no-repeat;
    
    overflow: hidden;
    
    
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.853);
    
    
}
.main-content{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 100vh;
}
.topics{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topics .content h1{
    background-color: rgb(248, 241, 241);
    color: red;
}
.sub-topics{
    margin: 10px;
    display: flex;
    gap: 200px;
    justify-content: center;
    height: 100vh;
    
}
iframe{
    width: 900px; 
    height: 500px;
}
.sidbar{
    background: rgba(0, 0, 0, 0.526);
    backdrop-filter: blur(3px);
    overflow-y: scroll;
    height: 500px;
    width: 28%;
}
.sidbar ul li {
    cursor: pointer;
    font-size: 1.3rem;
}
.topic.active{
    color: red ;

}
.content{
    display: none;
}
li:active{
    color: red ;

}
@media (max-width:900px){
    iframe{
        width: 100%; 
        height: 200px;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        
    }
    .sidbar{
        background: rgba(0, 0, 0, 0.526);
        backdrop-filter: blur(3px);
        overflow-y: scroll;
        height: 500px;
        width: 100%;
    }
    .sidbar ul li {
        cursor: pointer;
        font-size: 1rem;
    }
    body{
        overflow: scroll;
    }

}
